body.dark-mode {
  background-color: #2a3033;
}

body.dark-mode #login form input[type="text"] {
  background-color: #2a3033;
  color: #ffffff;
  border: 1px solid #2a3033;
}

body.dark-mode #login form input[type="text"] {
  background-color: #2a3033;
  color: #ffffff;
  border: 1px solid #2a3033;
}

body.dark-mode .barre {
  border-top: 2px solid #ffffff;
}

body.dark-mode h1 {
  color: #ffffff;
}

body.dark-mode .timer .temps {
  background-color: #131718;
}

body.dark-mode .projets > div {
  background-color: #131718;
}

body.dark-mode #total {
  background-color: #131718;
}
